<div class="row text-center">
  <h4>Sign In</h4>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
    </div>
  </form>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
  <h5>Don't have an account?</h5>
  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
    Create New Account
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New User Entry Form</h4>
      </div>
      <div class="modal-body">

        <form name="userForm">
          <div class="row" style="margin-bottom:10px">
            <div class="form-group col-sm-6" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid, 'has-success': userForm.firstName.$touched && userForm.firstName.$valid }">
              <span class="control-label">First Name: </span>
              <input name="firstName" ng-model="findCtrl.newUser.firstName" type="text" class="form-control" required>
              <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched">
                <p ng-message="required">Your first name is required.</p>
              </div>
            </div>

            <div class="form-group col-sm-6" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid, 'has-success': userForm.lastName.$touched && userForm.lastName.$valid }">
              <span class="control-label">Last Name: </span>
              <input name="lastName" ng-model="findCtrl.newUser.lastName" type="text" class="form-control" required>
              <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched">
                <p ng-message="required">Your last name is required.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid, 'has-success': userForm.email.$touched && userForm.email.$valid }">
              <span class="control-label">Email: </span>
              <input ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" name="email" ng-model="findCtrl.newUser.email" type="email" class="form-control" required>
              <div ng-messages="userForm.email.$error" ng-show="userForm.email.$touched || (userForm.email.$touched && userForm.email.$invalid)">
                <p ng-message="required">Your email is required.</p>
                <p ng-message="pattern">Your email is invalid.</p>
              </div>
            </div>
            <div class="form-group col-sm-6" ng-class="{ 'has-error': userForm.phone.$touched && userForm.phone.$invalid, 'has-success': userForm.phone.$touched && userForm.phone.$valid }">
              <span class="control-label">Telephone: XXX-XXX-XXXX</span>
              <input ng-pattern="/^[2-9]\d{2}-\d{3}-\d{4}$/" name="phone" ng-model="findCtrl.newUser.phone" type="tel" class="form-control" required>
              <div ng-messages="userForm.phone.$error" ng-show="userForm.phone.$touched || (userForm.phone.$touched && userForm.phone.$invalid)">
                <p ng-message="required">Your phone number is required.</p>
                <p ng-message="pattern">Invalid phone number format.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3" ng-class="{ 'has-error': userForm.age.$touched && userForm.age.$invalid, 'has-success': userForm.age.$touched && userForm.age.$valid }">
              <span class="control-label">Age: 16-120</span>
              <input ng-pattern="/^[16-120]$/" name="age" ng-model="findCtrl.newUser.age" type="number" class="form-control" required>
              <div ng-messages="userForm.age.$error" ng-show="userForm.age.$touched || (userForm.age.$touched && userForm.age.$invalid)">
                <p ng-message="required">Your age is required.</p>
                <p ng-message="pattern">Invalid age.</p>
              </div>
            </div>
            <div class="col-sm-3" ng-class="findCtrl.newUser.genderClass">
              <span class="control-label"> Gender:</span>
              <select ng-model="findCtrl.newUser.gender" class="form-control col-sm-4">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="trans">Trans</option>
              </select>
            </div>
            <div class="form-group col-sm-3">
              <span class="control-label">Maximum Rent: </span>
              <input ng-model="findCtrl.newUser.priceMax" type="number" class="form-control">
            </div>
            <div class="col-sm-3" ng-class="findCtrl.newUser.smokesClass">
              <span class="control-label"> Do you Smoke:</span>
              <select ng-model="findCtrl.newUser.smokes" class="form-control col-sm-4">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <div class="" ng-class="findCtrl.newUser.aboutClass">
            <span class="control-label">Write a bit about yourself here - </span>
            <textarea ng-model="findCtrl.newUser.about" class="form-control" rows="3"></textarea>
          </div>
      </div>
      </form> <!-- <form name="userForm"> -->

      <div class="modal-footer">
        <div class="has-error pull-left text-left" ng-show="findCtrl.newUser.showError">
          <ul>
            <li class="control-label" ng-repeat="error in findCtrl.newUser.errorArray">{{error}}</li>
          </ul>
        </div>
        <h4 ng-show="findCtrl.newUser.showError" ng-bind="findCtrl.newUser.error" class="has-error"></h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="findCtrl.newUserFormValid()" data-dismiss="{{findCtrl.newUser.closeModal}}" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
